@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Poppins", sans-serif; */
/* font-family: "Open Sans", sans-serif; */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --scroll-behavior: smooth;
  --default-font: "Open Sans", sans-serif;
  --heading-font: "Poppins", sans-serif;
  --bg-white: #fff;
  --bg-body-color: #272727;
  --bg-light-green: #175a3f;
  --bg-light: #737373;
}

html {
  scroll-behavior: var(--scroll-behavior);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
  height: auto;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: var(--bg-body-color);
  background: var(--bg-white);
}

img {
  max-width: 100%;
}

b,
strong {
  font-weight: 600;
}

p {
  margin: 0 0 25px 0;
}

p:last-child {
  margin-bottom: 0;
}

h1,
.h1-heading,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin: 0 0 20px 0;
  font-weight: 600;
  color: var(--bg-body-color);
  padding: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

.h1-heading,
h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;
  line-height: 1.18;
}

h2 {
  font-size: 38px;
  line-height: 1.1em;
  margin: 0 0 17px 0;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-family: var(--heading-font);
  color: var(--bg-text-color);
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:hover {
  color: var(--bg-white);
}


.container {
    padding: 0 12px;
}

/* logo */
.social-sec {
    overflow: hidden;
    z-index: 1;
}

.social-sec-top-flex {
  padding: 7px 0;
}

.image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    user-select: none;
    z-index: -1;
}

.logo-link {
    display: inline-block;
    max-width: 80px;
}
.social-sec-wrap span {
    display: block;
    color: var(--bg-light);
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}
.social-sec-wrap h1 {
    font-size: 28px;
    font-weight: 600;
    color: var(--bg-light-green);
}
.social-all-items {
    background-color: #1e1f21;
    padding: 40px 0;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    border-radius: 25px 25px 0 0;
}
.social-all-items-wrap {
    margin-bottom: 30px;
}
.social-all-items-wrap:last-child {
    margin-bottom: 0px;
}
.social-all-items-wrap label {
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
}
.social-item-dlex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.social-item-col {
    background-color: var(--bg-white);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    padding: 11px;
    min-height: 170px;
    border: 3px solid #fff36f;
}

.social-item-col::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #fff36f;
  clip-path: circle(69.4% at 70% 30%);
}

.social-item-col-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

.social-item-col-box h3 {
    font-size: 17px;
    margin: 0 0 10px;
    line-height: 1.2;
}

.social-item-col-box p {
    color: var(--bg-light);
    font-size: 12px;
    margin: 0;
}
.cmn-hd {
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: block;
    position: relative;
}
.cmn-hd::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 3px;
    background-color: #fff36f;
}

.icon-right {
    position: absolute;
    top: 0;
    max-width: 20px;
    right: 0;
}
.social-item-col-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}
.social-item-col-cont {
    min-height: 60px;
}

.social-sec-top-flex {
  background-color: #1e1f21;
}

.social-sec-wrap {
  padding: 50px 0 70px;
  position: relative;
  z-index: 1;
}
.btn {
  background-color: #fff36f;
  display: inline-flex;
  flex-direction: column;
  font-size: 10px;
  text-align: center;
  padding: 5px 20px;
  border-radius: 30px;
  z-index: 1;
  position: relative;
}

.btn::after {
  content: " \f095 ";
  font-family: 'fontawesome';
  position: absolute;
  top: 0;
  left: -47px;
  font-size: 17px;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #fff36f;
  z-index: -1;
  -webkit-transition: all 0.4s ease;
}

.btn span {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social-sec-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-all-items .image-overlay {
  opacity: 0.4;
}

.footer-sec {
  background-color: #232527;
}

.footer-sec span {
  font-size: 12px;
  color: var(--bg-light);
  padding: 13px 0;
  display: block;
  text-align: center;
}

.txt-wrap {
  word-break: break-all;
}

.pop-all {
  display: none;
  width: 100%;
  padding: 35px 25px 25px;
  background-color: #fff36f;
  z-index: 1;
}

.fancybox-slide--html .fancybox-close-small {
    color: #fff;
    padding: 2px;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    background: #272727;
    opacity: 1;
    border-radius: 100%;
}

.popup-link-wrap a {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--bg-white);
    border-radius: 5px;
    text-transform: uppercase;
    background: var(--bg-body-color);
    padding: 10px;
    box-shadow: 0 0 10px #33333354;
    margin: 5px 0;
    position: relative;
}

.popup-link-wrap a::after {
  content: '\f054';
  font-family: 'fontawesome';
  position: absolute;
  top: 50%;
  right: 11px;
  font-size: 11px;
  transform: translate(0%, -50%);
  color: var(--bg-white);
}

.popup-link-wrap a span {
    display: inline-block;
    max-width: 23px;
}